# Exclude Python cache
/__pycache__

# Exclude raw data
/*.auto
/*.raw

# Exclude .env configuration file
.env

# Exclude my testing file
test.py

# Include formated and merged files
!/formated
!/merged